<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Fide et Labore</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Fide et Labore</span><br>
    <span class="w3-large">To prepare men and women for the service of others, especially the poor, oppressed and marginalized. </span>
    <p><a href="/users/sign_in" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Sign-in</a></p>
  </div>
  <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</header>
<div class="container about">
  <h1>The College</h1>
  <p>
    St. Joseph’s Evening College (Autonomous) was established in 1972 and is managed by the Bangalore Jesuit Educational Society. The ‘Jesuits’, who manage the institution, are members of an international Religious Order of Catholic Priests and Brothers known as “the Society of Jesus”. The Society of Jesus, otherwise known as ‘the Jesuit order’, manages and administers more than 2000 such institutions. St. Joseph’s Evening College (Autonomous) is one such educational institution.

St. Joseph’s Evening College (Autonomous), formerly was part of St. Joseph’s College, which was established in the year 1882, as an educational initiative by the French Foreign Mission Fathers for the purpose of imparting higher education. In 1937, the management of the college was handed over to the Jesuits, a worldwide Catholic Religious Order with a special focus on education. The Jesuits also run other premier institutions in India, like Loyola College - Chennai, St. Xavier’s College – Kolkata, St. Joseph’s College –Trichy, St. Xavier’s College – Mumbai, St. Joseph’s College – Bangalore etc. In 1972, St. Joseph’s Evening College became an independent Evening College. It is recognized under Section 2(f) and 12B of the UGC Act. It became an autonomous institution in October 2004. It is the only Independent Autonomous Evening College in the country accredited by NAAC.

The College aims at a holistic and integral formation of its students, fostering in them a spirit of academic excellence, social concern and character formation, shaping them to become “men and women” for others. Though it is a minority institution, the College has been imparting liberal education to the students of all religious denominations without any discrimination. St. Joseph’s Evening College (Autonomous) is affiliated to the Bangalore University and offers a three year B.Com., B.A., B.C.A., and B.B.M. Degree courses and a two year Post Graduate course in Commerce(M.Com), Management (MBA Twinning Programme) and English.

From the beginning, the College has consciously striven to empower the hitherto ignored sections of society. Unlike elsewhere, admissions here are based on the economic and social conditions of the students. The thrust has been on the pursuit of holistic, multi-dimensional educational excellence. The College has been proactive in its response to the significant changes and developments in the field of higher education in general and to the expectations of the employers in particular.
  </p>
</div>
