# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d024fd2dafb0fd2847df59118200029b0e85b267149f53f74f587cb73a153bf1c431613b52835fe7837195bc9ee567c72f9de89d7067df190dd6fc4814312faf

test:
  secret_key_base: d9e71ba0a9c75f38fb4ed83066b35b5066b32ef24b6a490d4f18b1a85a7d6c4d94910fa8dde5b49f7097a5bf97474eb8bed7c360ca880072a7aab5ad9ae83def

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
