<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card-2" id="myNavbar">
    <a href="/" class="w3-bar-item w3-button w3-wide">SJEC</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="/" class="w3-bar-item w3-button">HOME</a>
      <a href="/home/about" class="w3-bar-item w3-button"><i class="fa fa-user"></i> ABOUT</a>
      <a href="/departments" class="w3-bar-item w3-button"><i class="fa fa-th"></i> PAPERS</a>
      <% if user_signed_in? %>

  <%= link_to('Logout', destroy_user_session_path, method: :delete, class:"w3-bar-item w3-button") %>

<% else %>

  <%= link_to('Login', new_user_session_path, class:"w3-bar-item w3-button")  %>

<% end %>

    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card-2 w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="/home/about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="/departments" onclick="w3_close()" class="w3-bar-item w3-button">PAPERS</a>
  <a href="" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>

</nav>
<%= image_tag "banner.jpeg",class: "banner_image"%>
<script>
// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
  } else {
      mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
}
</script>
